{% include "Platform/tpl_base.twig" %}
<body id="pages-error" data-layout="empty-view-3" data-controller="pages" data-view="error">
<!-- pages/error -->
<div class="form-container">
    <div class="error-page">
        <h1>404</h1>
        <h3>Página não encontrada</h3>
        <p>Desculpe, mas a página que você estava buscando não foi encontrada.</p>
        <a href="{{ base_url }}" class="btn btn-flat btn-lg btn-block">Retornar a página inicial</a>
    </div>
</div>
{% include "Platform/tpl_scripts.twig" %}
</body>
</html>
