{% include "Platform/tpl_base.twig" %}
<body id="pages-error" data-layout="empty-view-3" data-controller="pages" data-view="error">
<!-- pages/error -->
<div class="form-container">
    <div class="error-page">
        <h1>Opss</h1>
        <h3>Houve algum erro técnico :/</h3>
        <p>Desculpe, mas a página que você estava buscando não pode ser processada.</p>
        <a href="{{ app_url }}" class="btn btn-flat btn-lg btn-block">Retornar ao dashboard</a>
    </div>
</div>
{% include "Platform/tpl_scripts.twig" %}
</body>
</html>
